---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container/container";
---

<Layout title="Welcome to Astro.">
  <!-- <Container /> -->
  <button>ok</button>
</Layout>
