---
import Layout from "../layouts/Layout.astro";
import { ArrowButton } from "../components/arrowbutton/ArrowButton";
import { ScrollArrow } from "../components/ScrollArrow";

---

<Layout title="Welcome to Astro.">
  <div class="overflow-auto h-screen snap-y snap-mandatory no-scrollbar">
    <div
      parent-container
      class="flex justify-around items-center h-screen w-screen flex-col bg-slate-600 grow-0 outlined snap-center"
    >
      <img
        src="/Logo1.svg"
        class="flex-[50%] max-w-[500px] min-w-[300px] w-1/3"
      />
      <button submit-button class="flex justify-self-end">Submit</button>
      <ScrollArrow client:only="react"/>
      <div class="flex-[0.3]"></div>
    </div>
    <div
      id="secondContainer"
      parent-container
      class="flex justify-around items-center h-screen w-screen flex-col bg-slate-400 grow-0 outlined snap-center"
    >
      <img
        src="/Logo1.svg"
        class="flex-[50%] max-w-[500px] min-w-[300px] w-1/3"
      />
      <div class="flex-[0.3]"></div>
    </div>
    <div
      parent-container
      id="lastContainer"
      class="flex justify-around items-center h-screen w-screen flex-col bg-slate-300 grow-0 outlined snap-center"
    >
      <img
        src="/Logo1.svg"
        class="flex-[50%] max-w-[500px] min-w-[300px] w-1/3"
      />
      <div class="flex-[0.3]"></div>
    </div>
  </div>
  <script>
    const buttons = document.querySelectorAll("[submit-button]");
    buttons.forEach((button) =>
      button.addEventListener("click", () => scrollToSection("lastContainer"))
    );
    function scrollToSection(sectionId: string) {
      const section = document.getElementById(sectionId);
      section?.scrollIntoView({ behavior: "smooth" });
    }
  </script>
</Layout>
